<div class="row">
  <div class="col-md-5">
    <app-recipe-list
    (recipeWasSelected)="selectedRecipe = $event"
    ></app-recipe-list>
    <!-- above shows how you can directly assign an event to a class property -->
  </div>
  <div class="col-md-7">
    <!-- for the ngIf below, if the object does not exist, it is false by default -->
    <app-recipe-detail
    *ngIf="selectedRecipe; else startText"
    [recipeToDisplay]="selectedRecipe"
    ></app-recipe-detail>
    <ng-template #startText>
      <p>Please select a Recipe!</p>
    </ng-template>
  </div>
</div>
